
/* about section */
.about {
    background-color: #21325e;
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about--title {
    margin: 0;
    color: goldenrod;
    font-size: 4rem;
}

.about--subtitle {
    width: 30%;
    min-width: 500px;
    color: white;
    text-align: center;
    font-size: 1.7rem;
    margin: 25px 0;
}

.about--icons {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
/* ---------------- */

/* skills section */
.skills {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #21325e;
    margin: 35px 0;
}
.skills--title {
    margin: 0 auto;
    padding: 30px 0;
    font-size: 4rem;
}

.skills-basic {
    text-align: center;
}
.skills-basic h2 {
    font-size: 2.5rem;
    margin-top: 15px;
}
.skills-basic p {
    font-size: 1.4rem;
}

.skills--react {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills--react h2 {
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 0;
}

.skills--languages {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills--languages h2 {
    font-size: 2.5rem;
    margin: 10px 0;
}
.languages--inner {
    display: flex;
    font-size: 1.4rem;
    gap: 30px;
}
/* --------------- */


/* responsive design */
@media screen and (max-width: 540px) {
    .about--title {
        font-size: 3rem;
    }
    .about--subtitle {
        width: 90%;
        min-width: 0;
        font-size: 1.4rem;
    }
    .skills--title {
        font-size: 3rem;
    }
    .skills-basic h2 {
        font-size: 2.2rem;
    }
    .skills-basic p {
        font-size: 1.2rem;
    }

    .skills--react ul {
        margin: 0;
    }
    .skills--react h2 {
        font-size: 2.2rem;
    }
    .skills--react li {
        font-size: 1.2rem;
    }


    .skills--languages h2 {
        font-size: 2.2rem;
    }
    .languages--inner {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .languages--inner p {
        margin: 0;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 415px) {
    .about--title {
        font-size: 2.5rem;
    }
    .about--subtitle {
        width: 90%;
        min-width: 0;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 375px) {
    .skills--title {
        font-size: 2.5rem;
    }
    .skills-basic h2 {
        font-size: 1.8rem;
    }
    .skills-basic p {
        font-size: 1rem;
    }

    .skills--react ul {
        margin: 0;
    }
    .skills--react h2 {
        font-size: 1.8rem;
    }
    .skills--react li {
        font-size: 1rem;
    }

    .skills--languages h2 {
        font-size: 1.8rem;
    }
    .languages--inner p {
        font-size: 1rem;
    }
}