.navbar {
    position: fixed;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21325e;
    z-index: 2;
}

.navbar--wrapper {
    display: flex;
    align-items: center;
}

.languages--button {
    background-color: transparent;
    color: white;
}

.navbar--initials {
    color: goldenrod;
    margin: 0 40px;
    font-size: 1.7rem;
    cursor: pointer;
}

.navbar--links {
    margin: 20px;
    padding: 0;
}

.navbar--links a {
    color: white;
    margin: 0 20px;
    font-size: 1.2rem;
    text-decoration: none;
}

.navbar--hamburger {
    display: none;
}


@media screen and (max-width: 660px) {
    .navbar--initials {
        margin: 0 20px;
    }

    .navbar--links {
        display: none;
    }
    
    .navbar--links.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #21325e;
        width: 100%;
        position: absolute;
        left: 0;
        top: 64px;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
    }

    .navbar--links.active a {
        margin: 15px 0;
    }

    .navbar--hamburger {
        display: flex;
        margin: 20px;
    }
}