.projects {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
}

.projects-header {
    padding-top: 80px;
    margin: 0 auto;
    font-size: 1.5rem;
}

.projects-card {
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 1535px) {
    .projects-card {
        width: 90%;
    }
}

@media screen and (max-width: 1195px) {
    .projects-card {
        width: 90%;
        height: auto;
    }
}

@media screen and (max-width: 450px) {
    .projects-header {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 340px) {
    .projects-header {
        font-size: 0.9rem;
    }
}
